/**
/* Base styles
**/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
body {
    background: var(--dark);
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
    height: auto;
    min-height: 100%;
    /*padding-top: 5.1em;*/
}
header {
    background: var(--blue);
    position: relative;
    z-index: 49;
    /*position: fixed;
    top: 0;
    right: 0;
    left: 0;*/
}
nav {
    /*display: flex;*/
    /*position: relative;*/
    /*height: 5em;*/
}
h1 {
    text-align: center;
    color: var(--spot);
}
.main {
    max-width: 60rem;
    margin: 0 auto;
}
.container {
    max-width: 50rem;
    margin: 0 auto;
}
.group {
    position: relative;
}
.logo {
    color: var(--spot)!important;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.toggle i {
    pointer-events: none;
}

.booking {
    padding: 1em;
    max-width: 60rem;
    color: var(--spot);
}
.booking h1, .booking h2, .booking h3 {
    text-align: center;
}
.booking__toolbar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsl(0,0%,20%);
    padding: 1em;
    text-align: right;
}
.booking__toolbar .form-button {
    margin: 0;
    width: auto;
}

.login {
    padding: 1.5em
}
.flights {
    margin: 0;
    padding: 1.5rem;
    list-style: none;
    max-width: 32rem;
    width: 100%;
    margin: 0 auto;
}
.flight {
    background-image: linear-gradient(-180deg, #ECECEC 0%, #DCDCDC 100%);
    box-shadow: 0 0 .4rem 0 hsla(0,0%,0%,.25);
    border-radius: .3rem;
    width: 100%;
    max-width: 29rem;
    margin: 0 auto 1rem;
    position: relative;
}
.flight:before {
    content: '';
    width: 100%;
    padding-top: 35.714285714285715%;
    display: block;
}
.flight .left, .flight .right {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
}
.flight .left {
    width: 60%;
    left: 0;
}
.flight .left:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 2px dashed hsl(0,0%,85%);
}
.flight .right {
    width: 40%;
    right: 0;
    font-size: 120%;
}
.flight i {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 100%;
    color: var(--spot);
    transform: translateY(-50%);
}
.flight__airline, .flight__from, .flight__to  {
    line-height: 1;
}
.flight__airline {
    font-size: 120%;
    margin: 0 0 2.8rem;
}
.flight__airline span {
    font-size: .8rem;
    display: block;
    margin-top: .5rem;
}
.flight__from {
    margin: 0;
}
.flight__to {
    margin: 0;
}
.flight__from, .flight__to {
    font-size: 120%;
    margin-bottom: .5rem;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flight__from span, .flight__to span {
    margin-right: 1em;
    font-size: 1rem;
    color: hsl(0,0%,70%);
}
.flight__date {
    margin: 0;
}
.flight__time {
    margin: 0;
}
.flight__seats {
    margin: 0;
}
.flight__date, .flight__time, .flight__seats {
    position: relative;
    padding-left: 1.5em;
    line-height: 1;
    margin-bottom: .5rem;
}
.form-button.flight__book {
    padding: .4rem;
    margin: 0;
}
.flight__book span {
    display: block;
    font-size: 80%;
    line-height: 1;
    color: hsl(46, 49%, 39%);
}
.flight__book .flight__price {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    color: white;
}
.page-flights .find-flights {
    display: none;

}
.page-flights .main {
    margin: 0;
}
.page-mybookings .flights .flight {
    /*cursor: pointer;*/
}
/* Disable material items */
.md-datepicker-button, .md-datepicker-triangle-button {
    display: none;
}
.md-datepicker-input-container {
    margin: 0;
    padding: 0;
    border: none;
}
.md-datepicker-input-mask {
    display: none;
}
.md-scroll-mask {
    background: hsla(0,0%,0%,.5)
}
.md-datepicker-calendar-pane {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
}
.md-datepicker-open .md-datepicker-input-container {
    margin: 0;
}
.md-datepicker-open .md-datepicker-input {
    height: auto;
    margin: 0;
}
md-datepicker {
    flex: 2;
    width: 100%;
    margin: 0!important;
    padding: 0!important;
}
md-datepicker .md-datepicker-calendar-pane {
    display: none;
}

/* JQUERY UI Overides*/
.ui-autocomplete {
    position: absolute!important;
    top: 100%!important;
    right: 0!important;
    left: 0!important;
    width: 100%!important;
    background: hsl(0,0%,100%);
    /*border-top: 1px solid hsl(0,0%,90%);*/
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 999;
    /*max-height: 16rem;*/
    border-radius: 0 0 .3em .3em;
    /*overflow: hidden;*/
}
.ui-autocomplete:before {
    content: '';
    position: absolute;
    top: -.3em;
    right: 0;
    left: 0;
    height: .3em;
    background: white;
    display: block;
    z-index: 999;
}
.ui-menu-item {
    padding: 1rem 2rem;
    font-size: 120%;
    color: var(--blue);
    cursor: pointer;
    border-top: 1px solid hsl(0,0%,94%);
    border-radius: inherit;
}
.ui-menu-item:hover, .ui-menu-item.ui-state-focus {
    color: var(--spot);
    background: hsl(0,0%,98%);
}
.ui-helper-hidden-accessible {
    display: none;
}
@media screen and (max-width: 50em) {
    .logo {
        margin: .5em;
    }
}
