.results {
    display: flex;
}
.flights-filter {
    /*position: fixed;*/
    max-width: 25em;
    width: 100%;
    padding: 1.5em;
    /*padding-top: 12rem;*/
    background: var(--blue-dark);
    top: 0;
    bottom: 0;
}
@media screen and (max-width: 50rem) {
    .flights-filter {
        position: fixed;
        top: 5.1em;
        width: 100%;
        right: 100%;
        z-index: 999;
        max-width: none;
        transition: all .3s ease-in-out;
    }
    .flights-filter.open {
        transform: translateX(100%);
    }
    .flights-filter-toggle {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        /*transform: translate(100vw, -5.25rem);*/
        background: var(--blue);
        color: var(--light);
        cursor: pointer;
        z-index: 999;
        outline: none;
    }
}
/*.flights-filter label, .flights-filter input {
    display: block;
}
.flights-filter input {
    background
}*/
