input, textarea, button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}
.form-field, .form-button {
    border-radius: .4rem;
    padding:0.5rem 1rem;
    margin-bottom: 1rem;
}
.form-field {
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0 0 .4rem hsla(0, 0%, 0%, .3);
    line-height: 1;
    position: relative;
}
.form-field span,
.form-field input {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.form-field span {
    flex: 0;
    font-size: 1rem;
    margin-right: 1rem;
    color: var(--light);
}
.form-field input {
    flex: 2;
    font-size: 1.2rem;
    width: 100%;
    color: var(--spot);
}
.form-group {
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.form-group .form-field, .form-group .form-button {
    /*display: inline-block;*/
    width: calc(50% - .5rem)
}
/*.form-group .form-field:first-child {
    margin-right: 1rem;
}*/
.form-button {
    width: 100%;
    padding: 0;
    font-size: 1rem;
    background: var(--spot);
    color: hsl(0, 0%, 93%);
    text-transform: uppercase;
    font-weight: 300;
    padding: .7em;
    line-height: 1;
}
.form-group:last-child .form-button,
.form-group:last-child .form-field {
    margin-bottom: 0;
}
